@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(#a2c5fe, #c2e9fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #f5f4f4;
    width: 35rem;
    border-radius: 2.7rem;
    box-shadow:  10px 10px 40px #adacac;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .title {
        font-size: 3rem;
    }

    form {
        width: 100%;
        gap: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            width: 100%;
            border: none;
            padding: 1rem;
            border-radius: 1rem;
            background: #ffffff;
            box-shadow: 2px 2px 10px #b6b6b685;
            transition: 0.3s;
            font-weight: bold;
            font-size: 1.4rem;
            text-align: center;
            color: #b1b0b0;
    
            &::placeholder {
                color: #b1b0b0;
                font-weight: bold;
            }
    
            &:focus {
                outline: none;
            }
        }

        button {
            display: flex;
            background: #dddddd;
            border: none;
            border-radius: 1rem;
            padding: 0.5rem;
            cursor: pointer;
            box-shadow: 2px 2px 10px #919090;

            &:focus {
                outline-color: #919090;
            }

            &:active {
                transform: scale(0.96);
            }
        }
    }

    [data-user="profile"] {
        width: 100%;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;

        &.active {
            opacity: 1;
            height: auto;

            [data-user="foto"] {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                border: .3rem solid #cfcece;
            }

            [data-user="infos"] {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                gap: 1rem;

                [data-user="name"] {
                    font-size: 1.6rem;
                }

                p {
                    color: rgb(87, 86, 86);
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }
        }
    }
}